*{
  margin: 0;
  padding: 0;
}
html,
body{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
}

a{
  color: #00B4FF;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

a:hover{
  color: #515151;
  text-decoration: none;
}

h1{
  padding-bottom: 20px;
  font-size: 21px;
  font-weight: 400;
}

h2{
  padding-bottom: 15px;
  font-size: 18px;
  padding-top: 5px;
  font-weight: 400;
}

h3{
  padding-bottom: 10px;
  font-size: 16px;
  padding-top: 5px;
  font-weight: 400;
}

ul,
ol{
  padding-left: 18px;
}

ul li,
ol li{
  padding-bottom: 10px;
}

p{
  padding-bottom: 10px;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 30px -60px;
  padding: 0 0 60px;
}

.container{
  max-width: 976px;
  margin: 0 auto;
  width: 100%;
}

header{
  padding-top: 20px;
}

header h2 small{
  color: #525252;
}

header h2 a{
  font-size: 30px;
  padding: 3px;
}

.fork-github img{
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
}

.posts li{
  list-style: none;
}

.posts li:before{
  content: '—';
  margin-right: 10px;
}

#footer{
  height: 59px;
  line-height: 59px;
  color: #999999;
  border-top: 1px solid #e5e5e5;
}

#footer p{
  margin: 0;
  padding: 0;
}

#disqus_thread{
  margin-top: 50px;
  margin-bottom: 30px;
}

code{
  padding: 2px 4px;
  font-size: 12px;
  color: #d14;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
}
