<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <div id="wrap">
        <div class="container">
          <header>
            <h2><a href="/">{{ site.name }}</a> <small>i'm not crazy. my mother had me tested.</small></h2>
          </header>
        </div>
        <div class="container">
          {{content}}
        </div>
        <script type="text/javascript" src="/js/highlight.min.js"></script>
        <script type="text/javascript">
          hljs.initHighlightingOnLoad();
        </script>
      </div>
      <div id="footer">
          <div class="container">
            <a href="mailto:me@jslby.ru">me@jslby.ru</a>
          </div>
        </div>
    </body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter24087508 = new Ya.Metrika({id:24087508});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/24087508" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</html>
