<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <div id="wrap">
        <div class="container">
          <header>
            <h2><a href="/">{{ site.name }}</a> <small>i'm not crazy. my mother had me tested.</small></h2>
          </header>
        </div>
        
        <a target="_blank" href="https://github.com/jslby" class="fork-github">
          <img src="/img/fork_github.png">
        </a>
        <div class="container">
          {{content}}
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
      </div>
      <div id="footer">
          <div class="container">
            <a href="mailto:me@jslby.ru">me@jslby.ru</a>
          </div>
        </div>
    </body>
</html>
